.container {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 1rem 0;
  border-bottom: solid 2px var(--gray-line);

  button {
    border: none;
    font-weight: bold;
    text-align: start;
    width: 100%;
    max-width: 150px;
  }

  img {
    border-radius: 50%;
  }
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
