.container {
  display: flex;
  max-height: 200px;
  align-items: flex-start;
  padding: 1rem;
  border: solid 2px var(--gray-line);
  border-radius: 20px;

  :first-child {
    min-width: 50px;
  }

  img {
    border-radius: 50%;
  }

  > form {
    display: flex;
    flex-direction: column;
    flex: 1;
    textarea {
      background: var(--background);
      border: none;
      margin-left: 0.5rem;
      word-wrap: break-word;
      outline: none;
    }

    textarea.active {
      border: solid 2px var(--red);
    }

    > div {
      margin-left: auto;
      color: var(--blue);
      button {
        margin-top: 0.5rem;
        border: none;
        margin-left: 0.5rem;
        width: 80px;
        padding: 0.4rem 0;
        border-radius: 20px;
        background: var(--blue);
        color: var(--white);
      }
      .active {
        color: var(--red);
      }
    }
  }
}

.container_active {
  border: solid 2px var(--red);
}
