.container {
  .options {
    display: flex;
    justify-content: space-evenly;
    > * {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      max-width: 150px;
      width: 100%;

      span {
        margin-right: 0.5rem;
      }
      svg,
      span {
        color: var(--text);
      }
    }
  }

  .repost-button {
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
