.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .profile-info {
    display: flex;
    margin-bottom: 2rem;

    > div {
      margin-left: 1rem;
    }
  }

  .image {
    border-radius: 50%;
  }

  .profile-btn {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    strong {
      font-size: 1.5rem;
    }
    button {
      margin-left: 0.5rem;
      border: none;
      color: var(--blue);
      background: none;
    }

    .following:hover {
      span {
        display: none;
      }
    }
    .following:hover:before {
      color: var(--red);
      content: "Unfollow";
    }
  }

  > div {
    span {
      margin-right: 1rem;
    }
  }
}

.following:hover {
  span {
    display: none;
  }
}
.following:hover:before {
  color: var(--red);
  content: "Unfollow";
}

.close-btn {
  border: 0;
  background: none;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 10;
}
